.title{
    padding: 40px;
    margin: 20px;
    color: blue;
    border-radius: 15px;
}

footer{
    background-color: rgb(42, 42, 42);
    border-top: 10px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero-image {
    background-image: url("Images_logo/Images_logo/logo3.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }

.autocv{
    margin: 20px;
}
.table{
    padding: 40px;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    
  }
  th{
    color:black;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.color{
    justify-content: center;
}

.color1{
    background-color: rgb(243, 243, 71);
}
.color2{
    background-color: rgb(1, 206, 206);
}
.color3{background-color: rgb(250, 63, 63);}
.color4{ background-color: rgb(8, 160, 8);}

.tar{
    margin-left: 20px;
}

.wrapper a{
color: #fff;
}
.hover-fx {
  font-size: 2rem;
  display: inline-block;
  cursor: pointer;
  margin: 15px;
  
}